
export(crossbasis,crosspred,mkbasis,mklagbasis)
export(plot.crosspred,lines.crosspred,points.crosspred)
export(summary.crossbasis,summary.crosspred)
export(crossplot)

# documented but not exported
#

import(stats,graphics,grDevices)
importFrom(utils,packageDescription)
importFrom(splines,ns)
importFrom(splines,bs)
importFrom(tsModel,Lag)

S3method(summary, crossbasis)
S3method(summary, crosspred)
S3method(plot, crosspred)
S3method(lines, crosspred)
S3method(points, crosspred)